<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Buget Personal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header><h1>💰 Optimizator Buget</h1></header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul style="padding: 10px;">
                {% for category, message in messages %}
                    <li style="color: {% if category == 'success' %}green{% else %}red{% endif %}; font-weight: bold;">
                    {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
